* {
    font-family: "GohuFont 11 Nerd Font";
    font-size: 20px;
}

#waybar {
    background-color: #16161D;
    color: #DCD7BA;
}

button {
    border: none;
    border-radius: 0;
    padding: 0 5px;
}

#workspaces button {
    background-color: #16161D;
    color: #C8C093;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #2D4F67;
    color: #DCD7BA;
}

#workspaces button.urgent {
    background-color: #49443C;
}

#workspaces button.active {
    background-color: #658594;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#window,
#workspaces {
    margin: 0 5px;
}


.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}


.modules-right>widget:last-child>#workspaces {
    margin-right: 5;
}

@keyframes blink {
    to {
        color: #ebdbb2;
    }
}

#battery.critical:not(.charging) {
    color: #E82424;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    color: #FF9E3B;
}


label:focus {
    background-color: #16161D;
}
